# Node.js
node_modules/
.env
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
utils/last_used_data.json

# uploads or temp files
uploads/
tmp/
/public/OUTPUT/*
!/public/OUTPUT/.gitignore
